// Applied wherever a document is rendered - both in the editor and rendered documents
.document {
  color: #333;
  font-family: $sans-stack;
  line-height: 140%;

  // TODO maybe find a better font for headings?
  h1, h2, h3, h4, h5, h6 {
    margin: 1% 5% 1% 0;
    padding-bottom: 10px;
    border-bottom: 1px solid $lightGray;
    font-family: $serif-stack;
    line-height: 140%;
  }

  h1, h2, h3, h4 {
    font-weight: normal;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 32px;
  }

  h5, h6 {
    font-weight: 600;
  }

  h4 {
    font-size: 28px;
  }

  h5 {
    font-size: 24px;
  }

  h6 {
    font-size: 22px;
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: bold;
  }

  p {
    font-size: 18px;
    line-height: 150%;
    margin: 10px 0 10px 0;
    font-weight: 100;
  }

  blockquote {
    border-left: 3px solid $lightGray;
    padding-left: 10px;
    margin: 5px 0 5px 0;
  }

  pre, code {
    font-family: $mono-stack;
    font-size: 16px;
  }

  ol {
    list-style-type: decimal;
    margin-left: 20px;
  }

  ul {
    list-style-type: square;
    margin-left: 20px;
  }

  li {
    line-height: 140%;
  }

}
