$editor-menubar-height: 42px;

#editor {
  //overflow-y: auto;
  padding: 0 5px;
  flex-grow: 1;

  .ProseMirror {
    height: calc(100% - #{$editor-menubar-height});

    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      width: 0;
      background: transparent;
    }

    overflow-y: auto;
    padding-left: 5px;
    padding-bottom: 50vh;
    contain: layout;

    @for $level from 1 through 6 {
      h#{$level}::after {
        content: 'h#{$level}';
        display: inline-block;
        background-color: nth(map-values($colors), $level);
        color: #fff;
        font-family: $mono-stack;
        height: 18px;
        line-height: 12px;
        font-size: 12px;
        margin-left: 8px;
        padding: 3px;
        border-radius: 5px;
        vertical-align: middle;
        font-weight: lighter;
      }
    }

    .scrollHighlight {
      background-color: $highlight;
    }

    & > * {
      contain: layout;
    }
  }
}

#menubar {
  width: 100%;
  height: $editor-menubar-height;
  background: $white;
  opacity: 0.97;
  top: 0;
  position: sticky;
  display: flex;
  padding: 0;

  h4 {
    display: block;
    border-bottom: none;
    padding: 6px;
    width: 32px;
    height: 100%;
    text-align: center;
    margin: 0 8px;
    font-size: 22px;

    &:hover {
      color: $white;
      background-color: $darkGray;
      cursor: pointer;
    }

    &:first-child {
      margin-left: 0;
      margin-right: 8px;
    }

    sup {
      vertical-align: super;
      font-size: smaller;
      font-weight: lighter;
    }

    &.disabled {
      color: $lightGray;

      &:hover {
        background-color: #fff;
        cursor: default;
      }
    }
  }

  #menubar-toc {
    //cursor: col-resize;
    margin: 5px 0;
    &:hover {
      color: $purple;
      background-color: inherit;
    }
  }
}