@import "./lib/reset.css";

$sans-stack: "Fira Sans", sans-serif;
$serif-stack: "Merriweather", serif;
$mono-stack: "Fira Mono", monospace;

//$brand-primary: #b8d5d8;
$brand-secondary: #647678;

$red: #FF5353;
$orange: #ff9850;
$yellow: #ecd800;
$green: #3db015;
$blue: #63BFFF;
$purple: #A972E8;

$white: #fff;
$neutral: #969696;
$lightGray: #eee;
$darkGray: #505050;

$highlight: yellow;

$brand-primary: $purple;

$colors: (
        "red": $red,
        "orange": $orange,
        "yellow": $yellow,
        "green": $green,
        "blue": $blue,
        "purple": $purple,
        "neutral": $neutral);

@mixin button($color) {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border: 1px solid $color;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;

  color: $color;
  background-color: $white;

  &:hover {
    background-color: $color;
    color: $white;

  }

  margin-right: 5px;
  &:last-child {
    margin-right: 0;
  }

  svg {
    margin-right: 6px;
  }
}

@each $name, $hex in $colors {
  .#{$name} {
    color: $hex;
  }

  .button-#{$name} {
    @include button($hex);
  }
}

$allButtons: ".button-red, .button-yellow, .button-green, .button-purple, .button-neutral";

html {
  box-sizing: border-box;
  font-family: $sans-stack;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  outline: none;
}

body {
  height: 100%;
}

p {
  font-weight: lighter;
}

#app {
  height: 100%;
  display: flex;
}

input:focus {
  outline: none;
}

#dev-warning {
  position: absolute;
  right: 0;
  top: 0;
  background-color: $red;
  color: #fff;
  z-index: 2;
  padding: 5px;
}

@import "sidebar";
@import "editor";
@import "document";
