#sidebar {
  width: 220px; // can be overridden by resizing handled by React
  padding: 0 15px;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;

  transition: width 0.5s;

  display: flex;
  flex-direction: column;

  font-family: $sans-stack;

  input {
    outline: 0;
    border: none;
    padding: 5px;
    display: inline-block;
    font-family: inherit;
    font-size: 16px;
    background-color: #f5f5f5;
    color: #3f3f3f;
    width: 100%;
    margin-bottom: 10px;

    &::placeholder {
      color: #767676;
    }

    &:focus {
      &::placeholder {
        color: #bbb;
      }
    }
  }
}

#sidebar-logo {
  font-weight: lighter;
  height: 50px;

  h2 {
    font-size: 36px;
    line-height: 50px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    color: $brand-primary;
  }

  p {
    font-weight: lighter;
  }
}

#sidebar-message {
  display: block;
  line-height: 130%;
  height: 25px;
  font-weight: lighter;
  margin-bottom: 10px;
}

#sidebar-user {
  margin-bottom: 10px;
}

.sidebar-header {
  margin: 10px 0;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  color: #666;
  font-size: 18px;
  font-weight: lighter;

  ::before, ::after {
    padding: 0 5px;
    content: '-';
  }
}

#sidebar-buttons {
  a {
    margin-bottom: 10px;
    width: 100%;
  }
}

.rainbow {
  color: #000;
  background: $white;
  mix-blend-mode: multiply;

  &::before {
    content: '';
    display: inline;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-image: repeating-linear-gradient(to right, $purple, $blue, $green, $yellow, $orange, $red);
    animation: rainbow_animation 1s linear infinite;
    background-size: 800% 100%;
    pointer-events: none;
    mix-blend-mode: screen;
  }
}

@keyframes rainbow_animation {
  0%,100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}

#toc {
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  #toc-entries {
    overflow-y: auto;

    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      width: 0;
      background: transparent;
    }
  }

  .toc-entry {
    margin-bottom: 10px;
    border-radius: 5px;
    padding-left: 5px;

    a {
      border-radius: 5px;
      color: inherit;
      text-decoration: none;
      display: flex;
      justify-content: space-between;
      padding: 5px;
    }

    @for $level from 1 through 6 {
      &.toc-level-#{$level}:hover {
        background-color: nth(map-values($colors), $level);
        color: #fff;
      }
    }
  }
}